<!-- Start Header Area -->
	<header class="header_area sticky-header">

		<div class="main_menu">
			<!-- Small Navigation Tabs -->
			<div class="top_nav navbar navbar-expand-lg navbar-light main_box">
				<div class="container d-flex justify-content-between">
					<ul class="nav">
						
					</ul>
					<ul class="nav">
						<li class="nav-item "><a href="/" class="nav-link">Home</a></li>
						<li class="nav-item "><a href="/product/search" class="nav-link">Products</a></li>
						{{!-- <li class="nav-item "><a href="/blog" class="nav-link">Blog</a></li> --}}
						<li class="nav-item "><a href="/about"class="nav-link">About</a></li>
						<li class="nav-item "><a href="/contact"class="nav-link">Contact</a></li>
						{{#if isAuthenticated}}
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle text-normal-case" data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false"><img class="avatar" src="{{user.avatar}}"></img>{{user.username}}</a>
								<!-- Nút mở chat -->
								<button type="button" class="btn btn-primary position-fixed bottom-0 end-0 m-3" data-bs-toggle="modal"
									data-bs-target="#chatModal">
									<i class="fa-regular fa-comment-dots"></i>
									Chat
								</button>
								<ul class="dropdown-menu avatar-dropdown ">
									<li class="nav-item"><a class="nav-link" href="/setting/edit-profile">My account</a></li>
									<li class="nav-item"><a class="nav-link" href="/order/list">Theo dõi đơn hàng</a></li>	
									<li class="nav-item"><a class="nav-link" id="logoutButton" href="/logout">Log out</a></li>
								</ul>
							</li>
						{{else}}
							<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
							<li class="nav-item"><a class="nav-link" href="/registration">Register</a></li>
						{{/if}}
					</ul>
				</div>
			</div>
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container p-1">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="/"><img src="/img/logo.png" alt="" class="logo"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<div class="d-flex align-items-center justify-content-between w-100">
							<form class="d-flex align-items-center w-100" action="/product/search" method="get" id="searchForm">
								<input type="text" class="form-control w-100 search-input" id="search_input" name="keyword" placeholder="Search in Dimillav">
								    <div id="search-history-container" class="search-history"></div> <!-- Lịch sử tìm kiếm -->

								<button type="submit" class="btn">
									<span class="lnr lnr-magnifier" id="search"></span>
								</button>
								<span class="lnr lnr-cross close-btn" id="delete_search" title="Delete Search"></span>
							</form>
							<div class="cart-container position-relative ml-3">
								<a href="/cart" class="cart-link">
									<span class="fa fa-shopping-cart" style="font-size: 24px;"></span>
								</a>
								<span id="cart-count" class="badge badge-danger position-absolute">0</span>
							</div>
						</div>
					</div>

				</div>
			</nav>
		</div>
		<!-- Modal chat -->
		<div class="modal fade " id="chatModal" tabindex="-1" data-bs-backdrop="false"  data-bs-keyboard="false" aria-labelledby="chatModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm modal-dialog-scrollable position-fixed bottom-0 end-0 m-3">
				<div class="modal-content container-sm position-relative" style="top: 38%;">
					<div class="modal-header p-0">
						<!-- Thay thế bằng thanh chứa 2 tab -->
						<ul class="w-100" id="chatTab">
							<li class=" flex-grow-1">
								<button class="nav-link w-100 text-left text-black" id="messages-tab" type="button" >Tin nhắn</button>
							</li>
							<button type="button" class="btn-close position-absolute top-0 end-0 m-2" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</ul>
					</div>
					<div class="modal-body">
						<div class="messages overflow-auto" style="height: 300px;">
							<!-- Tin nhắn sẽ hiển thị ở đây -->
							<div class="small p-2 mb-1 rounded-3 bg-body-tertiary">
								Chào bạn! Tôi có thể giúp gì cho bạn?
							</div>
						</div>
						<input type="text" class="form-control" placeholder="Nhập tin nhắn...">
					</div>
				</div>
			</div>
		</div>

	</header>
	  <script src="/js/cart/cart.js" defer></script>
	    <script src="/js/cart/cart-counter.js" defer></script>
			    <script src="/js/searchHistory.js" defer></script>

	<!-- End Header Area -->